@if (vm(); as vm) {
  @if (vm.user?.accessionHolders?.length! > 1) {
    <form class="row gx-2 gy-1 mb-3">
      <label class="col-sm-auto col-form-label" for="accession-holder" translate="order.in-progress-orders.accession-holder"></label>
      <div class="col-sm-auto">
        <select [formField]="form" class="form-select" id="accession-holder" (change)="filterByAccessionHolder()">
          <option value="" translate="order.in-progress-orders.all-accession-holders"></option>
          @for (ah of vm.user?.accessionHolders; track ah.id) {
            <option [value]="ah.id">{{ ah.name }}</option>
          }
        </select>
      </div>
    </form>
  }
  <rb-orders [orders]="vm.orders" />
}
