<ng-container *ngIf="vm$ | async as vm">
  <div *ngIf="vm.user.accessionHolders.length > 1" class="row gx-2 gy-1 mb-3">
    <label class="col-sm-auto col-form-label" for="accession-holder" translate="order.in-progress-orders.accession-holder"></label>
    <div class="col-sm-auto">
      <select [formControl]="accessionHolderIdCtrl" class="form-select" id="accession-holder">
        <option [ngValue]="null" translate="order.in-progress-orders.all-accession-holders"></option>
        <option *ngFor="let ah of vm.user.accessionHolders" [ngValue]="ah.id">{{ ah.name }}</option>
      </select>
    </div>
  </div>
  <rb-orders [orders]="vm.orders"></rb-orders>
</ng-container>
