<form [formGroup]="form" (ngSubmit)="save()" #formDirective="ngForm">
  <div class="row gy-1">
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label" translate="order.edit-document.type" for="document-type"></label>
        <select formControlName="type" class="form-select form-select-sm" id="document-type">
          <option [ngValue]="null"></option>
          @for (documentType of documentTypes; track documentType) {
            <option [value]="documentType">{{ documentType | documentTypeEnum }}</option>
          }
        </select>
        <val-errors controlName="type" [label]="'order.edit-document.type-error-label' | translate" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label" translate="order.edit-document.description" for="document-description"></label>
        <input formControlName="description" class="form-control form-control-sm" id="document-description" />
        <val-errors controlName="description" [label]="'order.edit-document.description-error-label' | translate" />
      </div>
    </div>
  </div>
  <div class="row gy-1">
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label" translate="order.edit-document.file" for="document-file"></label>
        <input
          #fileInput
          type="file"
          class="form-control from-control-sm"
          id="document-file"
          [accept]="fileAccept"
          (change)="fileChanged()"
          [disabled]="uploadProgress !== null"
          [class.is-invalid]="formDirective.submitted && hasFileError()"
          [class.highlighted]="highlightFileInput"
          (drop)="fileDropped($event); highlightFileInput = false"
          (dragenter)="highlightFileInput = true"
          (dragleave)="highlightFileInput = false"
          (dragexit)="highlightFileInput = false"
          (dragover)="$event.preventDefault()"
        />
        <div class="invalid-feedback" [class.d-none]="!formDirective.submitted">
          @if (!selectedFile) {
            <div translate="common.errors.required" [translateParams]="{ label: 'order.edit-document.file-error-label' | translate }"></div>
          }
          @if (!selectedFileValid()) {
            <div translate="order.edit-document.invalid-file" [translateParams]="{ acceptedExtensions: acceptedExtensions }"></div>
          } @else if (!selectedFileSizeValid()) {
            <div translate="order.edit-document.invalid-file-size" [translateParams]="{ max: maxFileSizeInMB | number }"></div>
          }
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label" translate="order.edit-document.delivery-form" for=""></label>
        <div class="form-check form-switch mt-md-2">
          <input class="form-label" formControlName="onDeliveryForm" type="checkbox" class="form-check-input" id="on-delivery-form" />
          <label class="custom-control-label" for="on-delivery-form" translate="order.edit-document.on-delivery-form"></label>
        </div>
      </div>
    </div>

    <div class="mt-2">
      @if (uploadProgress !== null) {
        <ngb-progressbar
          [max]="1"
          [value]="uploadProgress"
          [animated]="uploadProgress === 1"
          [striped]="uploadProgress === 1"
          type="success"
          [showValue]="false"
        />
      }
    </div>
  </div>

  <div class="mt-2 text-end">
    <button class="btn btn-sm btn-primary me-2" [disabled]="uploadProgress !== null" id="document-save-button">
      <fa-icon [icon]="saveIcon" class="me-1" />
      <span translate="order.edit-document.save"></span>
    </button>
    <button
      (click)="cancel()"
      type="button"
      class="btn btn-sm btn-danger"
      [disabled]="uploadProgress !== null"
      translate="order.edit-document.cancel"
      id="document-cancel-button"
    ></button>
  </div>
</form>
