Hello {{ customerName }}!

You have saved the accession order #{{ basketReference }}.

To confirm that you indeed created this order,
click on the following link : {{ confirmationUrl }},
or enter the following code in the order confirmation page: {{ confirmationCode }}.

If you did not create this order, you can ignore and delete this email.

--
The RARe team
