@if (vm(); as vm) {
  <h1 [translate]="'grc.edit.title.' + vm.mode"></h1>

  <div class="content mt-2">
    <form [formRoot]="form">
      <div class="mb-3">
        <label class="form-label" for="name" translate="grc.edit.name"></label>
        <input class="form-control" [formField]="form.name" id="name" />
        <val-signal-errors [formField]="form.name" [label]="'grc.edit.name-error-label' | translate" />
      </div>

      <div class="mb-3">
        <label class="form-label" for="institution" translate="grc.edit.institution"></label>
        <input class="form-control" [formField]="form.institution" id="institution" type="institution" />
        <val-signal-errors [formField]="form.institution" [label]="'grc.edit.institution-error-label' | translate" />
      </div>

      <div class="mb-3">
        <label class="form-label" for="address" translate="grc.edit.address"></label>
        <textarea class="form-control" [formField]="form.address" id="address"></textarea>
        <val-signal-errors [formField]="form.address" [label]="'grc.edit.address-error-label' | translate" />
      </div>

      <div>
        <button class="btn btn-primary me-2" translate="grc.edit.save" id="save-button"></button>
        <a routerLink="/grcs" class="btn btn-danger" translate="grc.edit.cancel"></a>
      </div>
    </form>
  </div>
}
