<h1 translate="grc.grcs.title"></h1>

@if (grcs) {
  <div>
    <div class="content mt-2">
      @for (grc of grcs; track grc.id) {
        <div>
          <div class="d-flex">
            <div><fa-icon [icon]="grcIcon" class="me-2" /></div>
            <div class="flex-grow-1 row grc">
              <div class="col-6">
                <a [routerLink]="['/grcs', grc.id, 'edit']">{{ grc.name }}</a>
              </div>
              <div class="col-6">{{ grc.institution }}</div>
            </div>
            <div class="text-end">
              <button (click)="deleteGrc(grc)" type="button" class="btn btn-outline-danger btn-sm delete-grc-button">
                <fa-icon [icon]="deleteGrcIcon" />
                <span class="visually-hidden" translate="grc.grcs.delete"></span>
              </button>
            </div>
          </div>
          <hr class="my-2" />
        </div>
      }
    </div>

    <div class="text-end mt-2">
      <a class="btn btn-outline-secondary" id="create-grc" routerLink="/grcs/new">
        <fa-icon [icon]="createGrcIcon" class="me-1" />
        <span translate="grc.grcs.create"></span>
      </a>
    </div>
  </div>
}
