.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
backend/bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/backend/out/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

classes
.java-version
secrets

# System Files
.DS_Store
Thumbs.db

examples

.nx
.sdkmanrc