<html lang="fr">
<body>
  <h1>Nouvelle commande d'accessions</h1>
  <p>Bonjour&nbsp;!</p>
  <p>Une <a href="{{& orderUrl }}">nouvelle commande d'accessions (n° {{ basketReference }})</a> est arrivée.</p>
  <p>Merci de la prendre en charge.</p>
  <p>L'équipe RARe</p>
</body>
</html>
