@if (basket(); as basket) {
  <div>
    <h1 translate="basket.basket.title" [translateParams]="{ reference: basket.reference }"></h1>
    @switch (basket.status) {
      @case ('DRAFT') {
        <rb-edit-basket [basket]="basket" (basketSaved)="save($event)" />
      }
      @case ('SAVED') {
        <rb-edit-confirmation [basket]="basket" (basketConfirmed)="confirm($event)" (refreshRequested)="refresh()" />
      }
      @case ('CONFIRMED') {
        <rb-confirmed [basket]="basket" />
      }
    }
  </div>
}
