<div *ngIf="basket">
  <h1>Votre commande {{ basket.reference }}</h1>
  <rb-edit-basket *ngIf="basket.status === 'DRAFT'" [basket]="basket" (basketSaved)="save($event)"></rb-edit-basket>
  <rb-edit-confirmation
    *ngIf="basket.status === 'SAVED'"
    [basket]="basket"
    [confirmationFailed]="confirmationFailed"
    (basketConfirmed)="confirm($event)"
    (refreshRequested)="refresh()"
  ></rb-edit-confirmation>
  <div *ngIf="basket.status === 'CONFIRMED'">Votre commande est confirmée</div>
</div>
