<div *ngIf="basket">
  <h1 translate="basket.basket.title" [translateParams]="{ reference: basket.reference }"></h1>
  <rb-edit-basket *ngIf="basket.status === 'DRAFT'" [basket]="basket" (basketSaved)="save($event)"></rb-edit-basket>
  <rb-edit-confirmation
    *ngIf="basket.status === 'SAVED'"
    [basket]="basket"
    [confirmationFailed]="confirmationFailed"
    (basketConfirmed)="confirm($event)"
    (refreshRequested)="refresh()"
  ></rb-edit-confirmation>
  <rb-confirmed *ngIf="basket.status === 'CONFIRMED'" [basket]="basket"></rb-confirmed>
</div>
