<div *ngIf="confirmationFailed" class="alert alert-danger" role="alert">
  <div class="d-flex">
    <div class="mr-4">
      <fa-icon [icon]="errorIcon"></fa-icon>
    </div>
    <div class="flex-grow-1">
      <span translate="basket.edit-confirmation.error"></span>
      <br />
      <a href (click)="refresh(); $event.preventDefault()" id="error-refresh-link" translate="basket.edit-confirmation.refresh"></a>
    </div>
  </div>
</div>
<div class="alert alert-info" role="alert">
  <div class="d-flex">
    <div class="mr-4">
      <fa-icon [icon]="infoIcon"></fa-icon>
    </div>
    <div class="flex-grow-1">
      <p translate="basket.edit-confirmation.success"></p>
      <p>
        <span translate="basket.edit-confirmation.message-prefix"></span>
        &ngsp;
        <code>{{ basket.customer.email }}</code>
        &ngsp;
        <span translate="basket.edit-confirmation.message-suffix"></span>
        <br />
        <span translate="basket.edit-confirmation.code-message-prefix"></span>
        &ngsp;
        <a
          href
          (click)="refresh(); $event.preventDefault()"
          id="info-refresh-link"
          translate="basket.edit-confirmation.code-message-refresh"
        ></a>
        &ngsp;
        <span translate="basket.edit-confirmation.code-message-suffix"></span>
      </p>
      <p translate="basket.edit-confirmation.spam-message"></p>
    </div>
  </div>
</div>

<div class="content mt-2">
  <div class="d-flex justify-content-center">
    <form [formGroup]="form" (ngSubmit)="confirm()" class="form-inline">
      <label for="confirmation-code" class="sr-only" translate="basket.edit-confirmation.confirmation-code"></label>
      <input
        formControlName="confirmationCode"
        id="confirmation-code"
        class="form-control form-control-lg mb-2 mr-sm-2"
        [placeholder]="'basket.edit-confirmation.confirmation-code' | translate"
      />
      <button class="btn btn-primary btn-lg mb-2" [disabled]="form.invalid" id="confirm-button">
        <fa-icon [icon]="confirmIcon" class="mr-1"></fa-icon>
        <span translate="basket.edit-confirmation.confirm"></span>
      </button>
    </form>
  </div>

  <hr />

  <rb-basket-content [basket]="basket" class="mt-5"></rb-basket-content>
</div>
