<div class="alert alert-info" role="alert">
  <div class="d-flex">
    <div class="me-4">
      <fa-icon [icon]="infoIcon"></fa-icon>
    </div>
    <div class="flex-grow-1">
      <p translate="basket.edit-confirmation.success"></p>
      <p>
        <span translate="basket.edit-confirmation.message-prefix"></span>
        &ngsp;
        <code>{{ basket.customer?.email }}</code>
        &ngsp;
        <span translate="basket.edit-confirmation.message-suffix"></span>
        <br />
        <span translate="basket.edit-confirmation.code-message-prefix"></span>
        &ngsp;
        <a
          href
          (click)="refresh(); $event.preventDefault()"
          id="info-refresh-link"
          translate="basket.edit-confirmation.code-message-refresh"
        ></a>
        &ngsp;
        <span translate="basket.edit-confirmation.code-message-suffix"></span>
      </p>
      <p translate="basket.edit-confirmation.spam-message"></p>
    </div>
  </div>
</div>

<div class="content mt-2">
  <div class="d-flex justify-content-center">
    <form [formGroup]="form" (ngSubmit)="confirm()" class="row g-2">
      <label for="confirmation-code" class="visually-hidden" translate="basket.edit-confirmation.confirmation-code"></label>
      <div class="col-12 col-sm-auto">
        <input
          formControlName="confirmationCode"
          id="confirmation-code"
          class="col-12 form-control form-control-lg"
          [placeholder]="'basket.edit-confirmation.confirmation-code' | translate"
        />
      </div>
      <div class="col-12 col-sm-auto">
        <button class="btn btn-primary btn-lg d-block d-sm-inline w-100 me-sm-auto" [disabled]="form.invalid" id="confirm-button">
          <fa-icon [icon]="confirmIcon" class="me-1"></fa-icon>
          <span translate="basket.edit-confirmation.confirm"></span>
        </button>
      </div>
    </form>
  </div>

  <hr />

  <rb-basket-content [basket]="basket" class="mt-5"></rb-basket-content>
</div>
