<h1 translate="user.users.title"></h1>

<div *ngIf="users">
  <div class="content mt-2">
    <div *ngFor="let user of users.content">
      <div class="d-flex">
        <div><fa-icon [icon]="userIcon" class="mr-2"></fa-icon></div>
        <div class="flex-grow-1 row user">
          <div class="col-6 col-md-3">
            <a [routerLink]="['/users', user.id, 'edit']">{{ user.name }}</a>
          </div>
          <div class="col-6 col-md-3">
            <ng-container *ngIf="user.accessionHolder">
              {{ user.accessionHolder.grc.name }} - {{ user.accessionHolder.name }}
            </ng-container>
          </div>
          <div class="col-12 col-md-6">
            {{ permissions(user) }}
          </div>
        </div>
        <div class="text-right">
          <button (click)="deleteUser(user)" type="button" class="btn btn-outline-danger btn-sm delete-user-button">
            <fa-icon [icon]="deleteUserIcon"></fa-icon>
            <span class="sr-only" translate="user.users.delete"></span>
          </button>
        </div>
      </div>
      <hr class="my-2" />
    </div>

    <rb-pagination class="d-flex justify-content-center mt-4" [page]="users" [navigate]="true"></rb-pagination>
  </div>

  <div class="text-right mt-2">
    <a class="btn btn-outline-secondary" id="create-user" routerLink="/users/new">
      <fa-icon [icon]="createUserIcon" class="mr-1"></fa-icon>
      <span translate="user.users.create"></span>
    </a>
  </div>
</div>
