<div class="row">
  <div class="col-sm">
    <h2 translate="basket.basket-content.information"></h2>
    <div class="d-flex">
      <div class="mr-2"><fa-icon [icon]="nameIcon" [fixedWidth]="true"></fa-icon></div>
      <div class="flex-grow-1">{{ basket.customer.name }}</div>
    </div>
    <div class="d-flex">
      <div class="mr-2"><fa-icon [icon]="organizationIcon" [fixedWidth]="true"></fa-icon></div>
      <div class="flex-grow-1">{{ basket.customer.organization }}</div>
    </div>
    <div class="d-flex">
      <div class="mr-2"><fa-icon [icon]="emailIcon" [fixedWidth]="true"></fa-icon></div>
      <div class="flex-grow-1">{{ basket.customer.email }}</div>
    </div>
    <div class="d-flex">
      <div class="mr-2"><fa-icon [icon]="addressIcon" [fixedWidth]="true"></fa-icon></div>
      <div class="flex-grow-1" style="white-space: pre-wrap;">{{ basket.customer.address }}</div>
    </div>
    <div class="d-flex">
      <div class="mr-2"><fa-icon [icon]="customerTypeIcon" [fixedWidth]="true"></fa-icon></div>
      <div class="flex-grow-1">{{ basket.customer.type | customerTypeEnum }}</div>
    </div>
    <div class="d-flex" *ngIf="basket.rationale">
      <div class="mr-2"><fa-icon [icon]="rationaleIcon" [fixedWidth]="true"></fa-icon></div>
      <div class="flex-grow-1" style="white-space: pre-wrap;">{{ basket.rationale }}</div>
    </div>
  </div>
  <div class="col-sm">
    <h2 translate="basket.basket-content.ordered-accessions"></h2>

    <div *ngFor="let accessionHolderBasket of basket.accessionHolderBaskets">
      <h3>{{ accessionHolderBasket.grcName }} - {{ accessionHolderBasket.accessionHolderName }}</h3>

      <div class="scrolling-accessions mb-2">
        <table class="table table-sm mb-0">
          <thead class="thead-light">
            <tr>
              <th translate="basket.basket-content.accession-heading"></th>
              <th *ngIf="quantityDisplayed" translate="basket.basket-content.quantity-heading" style="width: 25%;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of accessionHolderBasket.items" class="basket-item">
              <td><rb-accession [accession]="item.accession"></rb-accession></td>
              <td *ngIf="quantityDisplayed">{{ item.quantity | number }} {{ item.unit }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
