<div class="border rounded bg-light p-5">
  <div class="row">
    <div class="col-sm">
      <h2>Vos informations</h2>
      <div class="d-flex">
        <div class="mr-2"><fa-icon [icon]="nameIcon" [fixedWidth]="true"></fa-icon></div>
        <div class="flex-grow-1">{{ basket.customer.name }}</div>
      </div>
      <div class="d-flex">
        <div class="mr-2"><fa-icon [icon]="emailIcon" [fixedWidth]="true"></fa-icon></div>
        <div class="flex-grow-1">{{ basket.customer.email }}</div>
      </div>
      <div class="d-flex">
        <div class="mr-2"><fa-icon [icon]="addressIcon" [fixedWidth]="true"></fa-icon></div>
        <div class="flex-grow-1" style="white-space: pre-wrap;">{{ basket.customer.address }}</div>
      </div>
      <div class="d-flex">
        <div class="mr-2"><fa-icon [icon]="customerTypeIcon" [fixedWidth]="true"></fa-icon></div>
        <div class="flex-grow-1">{{ basket.customer.type | customerTypeEnum }}</div>
      </div>
      <div class="d-flex" *ngIf="basket.rationale">
        <div class="mr-2"><fa-icon [icon]="rationaleIcon" [fixedWidth]="true"></fa-icon></div>
        <div class="flex-grow-1" style="white-space: pre-wrap;">{{ basket.rationale }}</div>
      </div>
    </div>
    <div class="col-sm">
      <h2>Accessions commandées</h2>
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th>Accession</th>
            <th>Quantité</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of basket.items" class="basket-item">
            <td>{{ item.accession }}</td>
            <td>{{ item.quantity | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
