<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-group">
    <label for="name" translate="order.edit-customer.name"></label>
    <input formControlName="name" id="name" class="form-control" />
    <val-errors controlName="name" [label]="'order.edit-customer.name-error-label' | translate"></val-errors>
  </div>
  <div class="form-group">
    <label for="name" translate="order.edit-customer.organization"></label>
    <input formControlName="organization" id="organization" class="form-control" />
  </div>
  <div class="form-group">
    <label for="email" translate="order.edit-customer.email"></label>
    <input type="email" formControlName="email" id="email" class="form-control" />
    <val-errors controlName="email" [label]="'order.edit-customer.email-error-label' | translate"></val-errors>
  </div>
  <div class="form-group">
    <label for="address" translate="order.edit-customer.address"></label>
    <textarea formControlName="address" id="address" class="form-control"></textarea>
    <val-errors controlName="address" [label]="'order.edit-customer.address-error-label' | translate"></val-errors>
  </div>
  <div class="form-group">
    <label for="type" translate="order.edit-customer.customer-type"></label>
    <select formControlName="type" id="type" class="form-control custom-select">
      <option *ngFor="let customerType of customerTypes" [value]="customerType">{{ customerType | customerTypeEnum }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="type" translate="order.edit-customer.language"></label>
    <select formControlName="language" id="language" class="form-control custom-select">
      <option *ngFor="let language of languages" [value]="language">{{ language | languageEnum }}</option>
    </select>
  </div>
  <div class="text-right">
    <button class="btn btn-sm btn-primary mr-2" translate="order.edit-customer.save" id="save-button"></button>
    <button
      type="button"
      class="btn btn-sm btn-danger"
      (click)="cancel()"
      translate="order.edit-customer.cancel"
      id="cancel-button"
    ></button>
  </div>
</form>
