<h1 translate="accession-holder.accession-holders.title"></h1>

@if (accessionHolders(); as accessionHolders) {
  <div>
    <div class="content mt-2">
      @for (accessionHolder of accessionHolders; track accessionHolder.id) {
        <div>
          <div class="d-flex">
            <div><fa-icon [icon]="accessionHolderIcon" class="me-2" /></div>
            <div class="flex-grow-1 row accession-holder">
              <div class="col-6 col-md-4">
                <a [routerLink]="['/accession-holders', accessionHolder.id, 'edit']">{{ accessionHolder.name }}</a>
              </div>
              <div class="col-6 col-md-4">{{ accessionHolder.email }}</div>
              <div class="col-12 col-md-4">{{ accessionHolder.grc.name }}</div>
            </div>
            <div class="text-end">
              <button
                (click)="deleteAccessionHolder(accessionHolder)"
                type="button"
                class="btn btn-outline-danger btn-sm delete-accession-holder-button"
              >
                <fa-icon [icon]="deleteAccessionHolderIcon" />
                <span class="visually-hidden" translate="accession-holder.accession-holders.delete"></span>
              </button>
            </div>
          </div>
          <hr class="my-2" />
        </div>
      }
    </div>

    <div class="text-end mt-2">
      <a class="btn btn-outline-secondary" id="create-accession-holder" routerLink="/accession-holders/new">
        <fa-icon [icon]="createAccessionHolderIcon" class="me-1" />
        <span translate="accession-holder.accession-holders.create"></span>
      </a>
    </div>
  </div>
}
