<div *ngIf="mode">
  <h1 [translate]="'user.edit.title.' + mode" [translateParams]="{ user: editedUser }"></h1>

  <div class="content mt-2">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group">
        <label for="name" translate="user.edit.name"></label>
        <input class="form-control" formControlName="name" id="name" />
        <val-errors controlName="name" [label]="'user.edit.name-error-label' | translate"></val-errors>
        <small class="form-text text-muted" [innerHTML]="'user.edit.name-help' | translate: { keycloakUrl: keycloakUrl }"></small>
      </div>

      <label translate="user.edit.permissions" for=""></label>
      <div class="mb-2">
        <div class="custom-control custom-switch">
          <input type="checkbox" formControlName="orderManagement" class="custom-control-input" id="order-management" />
          <label class="custom-control-label" for="order-management">{{ 'ORDER_MANAGEMENT' | permissionEnum }}</label>
        </div>

        <div class="form-group ml-4" *ngIf="form.value.orderManagement">
          <label for="accession-holder" translate="user.edit.accession-holder"></label>
          <select class="form-control custom-select" formControlName="accessionHolderId" id="accession-holder">
            <option [ngValue]="null"></option>
            <optgroup *ngFor="let group of grcOptionGroups" [label]="group.name">
              <option *ngFor="let accessionHolder of group.accessionHolders" [ngValue]="accessionHolder.id">
                <ng-container *ngIf="form.value.accessionHolderId === accessionHolder.id; else notSelected">
                  {{ accessionHolder.grc.name }} - {{ accessionHolder.name }}
                </ng-container>
                <ng-template #notSelected>{{ accessionHolder.name }}</ng-template>
              </option>
            </optgroup>
          </select>
          <val-errors controlName="accessionHolderId" [label]="'user.edit.accession-holder-error-label' | translate"></val-errors>
        </div>
      </div>

      <div class="mb-2">
        <div class="custom-control custom-switch">
          <input type="checkbox" formControlName="orderVisualization" class="custom-control-input" id="order-visualization" />
          <label class="custom-control-label" for="order-visualization">{{ 'ORDER_VISUALIZATION' | permissionEnum }}</label>
        </div>
        <div *ngIf="form.value.orderVisualization" class="ml-4">
          <div class="form-check form-check-inline">
            <input
              formControlName="globalVisualization"
              class="form-check-input"
              type="radio"
              id="no-global-visualization"
              [value]="false"
            />
            <label class="form-check-label" for="no-global-visualization" translate="user.edit.some-grcs"></label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="globalVisualization" class="form-check-input" type="radio" id="global-visualization" [value]="true" />
            <label class="form-check-label" for="global-visualization" translate="user.edit.all-grcs"></label>
          </div>
          <div class="form-group" *ngIf="!form.value.globalVisualization">
            <label translate="user.edit.visualization-grcs" for=""></label>
            <div formArrayName="visualizationGrcs" class="border rounded py-1 px-2 grcs">
              <div class="form-check" *ngFor="let grcGroup of visualizationGrcs.controls; index as i" [formGroupName]="i">
                <input formControlName="selected" class="form-check-input" type="checkbox" [id]="'grc-' + grcGroup.value.grc.id" />
                <label class="form-check-label" [for]="'grc-' + grcGroup.value.grc.id">
                  {{ grcGroup.value.grc.name }}
                </label>
              </div>
            </div>
            <val-errors controlName="visualizationGrcs">
              <ng-template valError="required"><span translate="user.edit.grc-required"></span></ng-template>
            </val-errors>
          </div>
        </div>
      </div>

      <div class="mb-2">
        <div class="custom-control custom-switch">
          <input type="checkbox" formControlName="administration" class="custom-control-input" id="administration" />
          <label class="custom-control-label" for="administration">{{ 'ADMINISTRATION' | permissionEnum }}</label>
        </div>
      </div>

      <div>
        <button class="btn btn-primary mr-2" translate="user.edit.save" id="save-button"></button>
        <a routerLink="/users" class="btn btn-danger" translate="user.edit.cancel"></a>
      </div>
    </form>
  </div>
</div>
