<p translate="basket.edit-basket.message"></p>

<div class="content">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="col-sm">
        <h2 translate="basket.edit-basket.personal-information"></h2>
        <div formGroupName="customer">
          <div class="form-group">
            <label for="name" translate="basket.edit-basket.name"></label>
            <input formControlName="name" id="name" class="form-control" />
            <val-errors controlName="name" [label]="'basket.edit-basket.name-error-label' | translate"></val-errors>
          </div>
          <div class="form-group">
            <label for="organization" translate="basket.edit-basket.organization"></label>
            <input formControlName="organization" id="organization" class="form-control" />
          </div>
          <div class="form-group">
            <label for="email" translate="basket.edit-basket.email"></label>
            <input type="email" formControlName="email" id="email" class="form-control" />
            <val-errors controlName="email" [label]="'basket.edit-basket.email-error-label' | translate"></val-errors>
          </div>
          <div class="form-group">
            <label for="delivery-address" translate="basket.edit-basket.delivery-address"></label>
            <textarea formControlName="deliveryAddress" id="delivery-address" class="form-control"></textarea>
            <val-errors controlName="deliveryAddress" [label]="'basket.edit-basket.delivery-address-error-label' | translate"></val-errors>
          </div>
          <div class="form-group">
            <label for="billing-address" translate="basket.edit-basket.billing-address"></label>
            <div class="custom-control custom-switch" [class.mb-2]="!useDeliveryAddressControl.value">
              <input [formControl]="useDeliveryAddressControl" type="checkbox" class="custom-control-input" id="use-delivery-address" />
              <label class="custom-control-label" for="use-delivery-address" translate="basket.edit-basket.use-delivery-address"></label>
            </div>
            <div [ngbCollapse]="useDeliveryAddressControl.value">
              <textarea formControlName="billingAddress" id="billing-address" class="form-control"></textarea>
            </div>
            <val-errors controlName="billingAddress" [label]="'basket.edit-basket.billing-address-error-label' | translate"></val-errors>
          </div>
          <div class="form-group">
            <label for="type" translate="basket.edit-basket.customer-type"></label>
            <select formControlName="type" id="type" class="form-control custom-select">
              <option [ngValue]="null"></option>
              <option *ngFor="let customerType of customerTypes" [value]="customerType">{{ customerType | customerTypeEnum }}</option>
            </select>
            <val-errors controlName="type" [label]="'basket.edit-basket.customer-type-error-label' | translate"></val-errors>
          </div>
        </div>
        <div class="form-group">
          <label for="rationale" translate="basket.edit-basket.rationale"></label>
          <textarea formControlName="rationale" id="rationale" class="form-control" style="height: 8rem"></textarea>
          <small class="text-muted form-text">
            <span translate="basket.edit-basket.rationale-hint"></span>
            <ul>
              <li translate="basket.edit-basket.rationale-question1"></li>
              <li translate="basket.edit-basket.rationale-question2"></li>
              <li translate="basket.edit-basket.rationale-question3"></li>
            </ul>
          </small>
        </div>
      </div>
      <div class="col-sm">
        <h2 translate="basket.edit-basket.ordered-accessions"></h2>

        <div *ngFor="let accessionHolderBasket of basket.accessionHolderBaskets; index as accessionHolderBasketIndex">
          <h3>{{ accessionHolderBasket.grcName }} - {{ accessionHolderBasket.accessionHolderName }}</h3>

          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th translate="basket.edit-basket.accession-heading"></th>
                <th *ngIf="quantityDisplayed" translate="basket.edit-basket.quantity-heading" style="width: 25%"></th>
                <th style="width: 20%"><span class="sr-only" translate="basket.edit-basket.actions-heading"></span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of accessionHolderBasket.items; index as itemIndex" class="accession">
                <td><rb-accession [accession]="item.accession"></rb-accession></td>
                <td *ngIf="quantityDisplayed">{{ item.quantity | number }} {{ item.unit }}</td>
                <td class="text-right">
                  <button
                    [disabled]="deleteItemDisabled"
                    type="button"
                    class="btn btn-outline-danger py-0 delete-btn"
                    (click)="deleteItemAt(accessionHolderBasketIndex, itemIndex)"
                  >
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                    <span
                      class="sr-only"
                      translate="basket.edit-basket.delete-accession"
                      [translateParams]="{
                        name: item.accession.name,
                        identifier: item.accession.identifier
                      }"
                    ></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <div class="border rounded p-2 bg-light">
        <div class="small">
          <span translate="basket.edit-basket.data-collection"></span>&ngsp;
          <a [href]="gdprDetailsUrl" target="_blank" translate="basket.edit-basket.data-collection-link"></a>
        </div>

        <div class="form-group form-check mb-0">
          <div class="small">
            <input formControlName="gdprAgreement" type="checkbox" class="form-check-input" id="gdpr-agreement" />
            <label
              class="form-check-label"
              style="margin-top: 2px"
              for="gdpr-agreement"
              translate="basket.edit-basket.gdpr-agreement"
            ></label>
          </div>
          <val-errors controlName="gdprAgreement">
            <ng-template valError="required"><span translate="basket.edit-basket.gdpr-agreement-required"></span></ng-template>
          </val-errors>
        </div>
      </div>

      <div class="text-center mt-4">
        <button class="btn btn-primary" id="save" [class.save-forbidden]="saveForbidden">
          <fa-icon [icon]="saveIcon" class="mr-1"></fa-icon>
          <span translate="basket.edit-basket.save"></span>
        </button>
      </div>
    </div>
  </form>
</div>
