@import '../../../common';

.delete-btn {
  border: 1px solid transparent;
  &:hover {
    border: 1px solid $danger;
  }
  &:disabled {
    border: 1px solid transparent;
  }
}

h3 {
  font-size: 1.2rem;
}

.save-forbidden {
  animation: shake 300ms ease;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  50%,
  90% {
    transform: translateX(0.5rem);
  }
  30%,
  70% {
    transform: translateX(-0.5rem);
  }
}
