<p translate="basket.edit-basket.message"></p>

<div class="border rounded bg-light p-5">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="col-sm">
        <h2 translate="basket.edit-basket.personal-information"></h2>
        <div formGroupName="customer">
          <div class="form-group">
            <label for="name" translate="basket.edit-basket.name"></label>
            <input formControlName="name" id="name" class="form-control" />
            <val-errors controlName="name" [label]="'basket.edit-basket.name-error-label' | translate"></val-errors>
          </div>
          <div class="form-group">
            <label for="email" translate="basket.edit-basket.email"></label>
            <input type="email" formControlName="email" id="email" class="form-control" />
            <val-errors controlName="email" [label]="'basket.edit-basket.email-error-label' | translate"></val-errors>
          </div>
          <div class="form-group">
            <label for="address" translate="basket.edit-basket.address"></label>
            <textarea formControlName="address" id="address" class="form-control"></textarea>
            <val-errors controlName="address" [label]="'basket.edit-basket.address-error-label' | translate"></val-errors>
          </div>
          <div class="form-group">
            <label for="type" translate="basket.edit-basket.customer-type"></label>
            <select formControlName="type" id="type" class="form-control custom-select">
              <option [ngValue]="null"></option>
              <option *ngFor="let customerType of customerTypes" [value]="customerType">{{ customerType | customerTypeEnum }}</option>
            </select>
            <val-errors controlName="type" [label]="'basket.edit-basket.customer-type-error-label' | translate"></val-errors>
          </div>
        </div>
        <div class="form-group">
          <label for="rationale" translate="basket.edit-basket.rationale"></label>
          <textarea formControlName="rationale" id="rationale" class="form-control" style="height: 8rem;"></textarea>
          <small class="text-muted form-text">
            <span translate="basket.edit-basket.rationale-hint"></span>
            <ul>
              <li translate="basket.edit-basket.rationale-question1"></li>
              <li translate="basket.edit-basket.rationale-question2"></li>
              <li translate="basket.edit-basket.rationale-question3"></li>
            </ul>
          </small>
        </div>
      </div>
      <div class="col-sm">
        <h2 translate="basket.edit-basket.ordered-accessions"></h2>

        <div *ngFor="let accessionHolderBasket of basket.accessionHolderBaskets; index as accessionHolderBasketIndex">
          <h3>{{ accessionHolderBasket.grcName }} - {{ accessionHolderBasket.accessionHolderName }}</h3>

          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th translate="basket.edit-basket.accession-heading"></th>
                <th *ngIf="quantityDisplayed" translate="basket.edit-basket.quantity-heading" style="width: 25%;"></th>
                <th style="width: 20%;"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of accessionHolderBasket.items; index as itemIndex" class="accession">
                <td><rb-accession [accession]="item.accession"></rb-accession></td>
                <td *ngIf="quantityDisplayed">{{ item.quantity | number }}</td>
                <td class="text-right">
                  <button
                    [disabled]="deleteItemDisabled"
                    type="button"
                    class="btn btn-outline-danger py-0 delete-btn"
                    (click)="deleteItemAt(accessionHolderBasketIndex, itemIndex)"
                  >
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                    <span
                      class="sr-only"
                      translate="basket.edit-basket.delete-accession"
                      [translateParams]="{
                        name: item.accession.name,
                        identifier: item.accession.identifier
                      }"
                    ></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <button class="btn btn-primary" id="save">
        <fa-icon [icon]="saveIcon" class="mr-1"></fa-icon>
        <span translate="basket.edit-basket.save"></span>
      </button>
    </div>
  </form>
</div>
