<p translate="basket.edit-basket.message"></p>

<div class="border rounded bg-light p-5">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="col-sm">
        <h2 translate="basket.edit-basket.personal-information"></h2>
        <div formGroupName="customer">
          <div class="form-group">
            <label for="name" translate="basket.edit-basket.name"></label>
            <input formControlName="name" id="name" class="form-control" />
            <val-errors controlName="name" [label]="'basket.edit-basket.name-error-label' | translate"></val-errors>
          </div>
          <div class="form-group">
            <label for="email" translate="basket.edit-basket.email"></label>
            <input type="email" formControlName="email" id="email" class="form-control" />
            <val-errors controlName="email" [label]="'basket.edit-basket.email-error-label' | translate"></val-errors>
          </div>
          <div class="form-group">
            <label for="address" translate="basket.edit-basket.address"></label>
            <textarea formControlName="address" id="address" class="form-control"></textarea>
            <val-errors controlName="address" [label]="'basket.edit-basket.address-error-label' | translate"></val-errors>
          </div>
          <div class="form-group">
            <label for="type" translate="basket.edit-basket.customer-type"></label>
            <select formControlName="type" id="type" class="form-control custom-select">
              <option [ngValue]="null"></option>
              <option *ngFor="let customerType of customerTypes" [value]="customerType">{{ customerType | customerTypeEnum }}</option>
            </select>
            <val-errors controlName="type" [label]="'basket.edit-basket.customer-type-error-label' | translate"></val-errors>
          </div>
        </div>
        <div class="form-group">
          <label for="rationale" translate="basket.edit-basket.rationale"></label>
          <textarea formControlName="rationale" id="rationale" class="form-control" style="height: 8rem;"></textarea>
          <small class="text-muted form-text">
            <span translate="basket.edit-basket.rationale-hint"></span>
            <ul>
              <li translate="basket.edit-basket.rationale-question1"></li>
              <li translate="basket.edit-basket.rationale-question2"></li>
              <li translate="basket.edit-basket.rationale-question3"></li>
            </ul>
          </small>
        </div>
      </div>
      <div class="col-sm" formArrayName="items">
        <h2 translate="basket.edit-basket.ordered-accessions"></h2>

        <table class="table table-sm">
          <thead class="thead-light">
            <tr>
              <th translate="basket.edit-basket.accession-heading"></th>
              <th *ngIf="quantityDisplayed" translate="basket.edit-basket.quantity-heading"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemGroup of items.controls; index as index" class="accession">
              <td><rb-accession [accession]="itemGroup.get('accession').value"></rb-accession></td>
              <td *ngIf="quantityDisplayed">{{ itemGroup.get('quantity').value | number }}</td>
              <td class="text-right">
                <button
                  [disabled]="items.controls.length === 1"
                  type="button"
                  class="btn btn-outline-danger py-0 delete-btn"
                  (click)="deleteItemAt(index)"
                >
                  <fa-icon [icon]="deleteIcon"></fa-icon>
                  <span
                    class="sr-only"
                    translate="basket.edit-basket.delete-accession"
                    [translateParams]="{
                      name: itemGroup.get('accession').value.name,
                      identifier: itemGroup.get('accession').value.identifier
                    }"
                  ></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="text-center mt-4">
      <button class="btn btn-primary" id="save">
        <fa-icon [icon]="saveIcon" class="mr-1"></fa-icon>
        <span translate="basket.edit-basket.save"></span>
      </button>
    </div>
  </form>
</div>
