<div class="modal-header">
  <h3 class="modal-title" translate="order.csv-modal.title"></h3>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="mb-3">
      <label class="form-label" translate="order.csv-modal.csv" for="csv-area"></label>
      <textarea formControlName="csv" class="form-control" id="csv-area"></textarea>
    </div>
  </form>

  @if (result().errors.length) {
    <div class="alert alert-danger scrolling">
      <h4 class="visually-hidden" translate="order.csv-modal.csv-errors"></h4>
      <table class="table table-sm mb-0 csv-errors">
        <thead>
          <tr>
            <th scope="col" translate="order.csv-modal.error-line-heading"></th>
            <th scope="col" translate="order.csv-modal.error-message-heading"></th>
          </tr>
        </thead>
        <tbody>
          @for (error of result().errors; track $index) {
            <tr class="csv-error">
              @if (error.row !== undefined) {
                <th scope="row">{{ error.row + 1 | number }}</th>
              } @else {
                <th scope="row"></th>
              }
              <td>{{ error.key | translate }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  <div class="scrolling mb-2">
    <h4 class="visually-hidden" translate="order.csv-modal.preview"></h4>
    <table class="table table-sm mb-0">
      <thead class="table-light">
        <tr>
          <th translate="order.csv-modal.name-heading"></th>
          <th translate="order.csv-modal.accession-number-heading"></th>
          <th translate="order.csv-modal.taxon-heading"></th>
          <th translate="order.csv-modal.quantity-heading"></th>
        </tr>
      </thead>
      <tbody>
        @for (item of result().items; track $index) {
          <tr class="order-item">
            <td><rb-accession [accession]="item.accession" /></td>
            <td>{{ item.accession.accessionNumber }}</td>
            <td>{{ item.accession.taxon }}</td>
            <td>{{ item.quantity | number }} {{ item.unit }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="result().items.length === 0"
    (click)="close()"
    id="add-items-button"
    translate="order.csv-modal.add-items"
  ></button>
  <button type="button" class="btn btn-danger" (click)="dismiss()" id="dismiss-button" translate="order.csv-modal.cancel"></button>
</div>
