@import '../../../common';

.grcs {
  max-height: 10rem;
  overflow-y: auto;
}

.color-square {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.key-number {
  font-size: 3rem;
  color: $gray-600;
  font-weight: 500;
}
