<div class="alert alert-success" role="alert">
  <div class="d-flex">
    <div class="me-4">
      <fa-icon [icon]="confirmedIcon"></fa-icon>
    </div>
    <div class="flex-grow-1">
      <p translate="basket.confirmed.message"></p>
      <p>
        <span translate="basket.confirmed.dispatched-message"></span>
        &nbsp;
        <code style="white-space: pre">{{ basket.customer.email }}</code
        >.
      </p>
      <p translate="basket.confirmed.mailbox-message"></p>
    </div>
  </div>
</div>

<div class="content mt-2">
  <rb-basket-content [basket]="basket"></rb-basket-content>
</div>
