<div class="alert alert-success" role="alert">
  <div class="d-flex">
    <div class="mr-4">
      <fa-icon [icon]="confirmedIcon"></fa-icon>
    </div>
    <div class="flex-grow-1">
      <p>Votre commande est confirmée.</p>
      <p>
        Elle a été distribuée aux divers responsables en charge des accessions commandées, qui vous recontacteront par email, à l'adresse
        <code style="white-space: pre">{{ basket.customer.email }}</code
        >.
      </p>
      <p>
        Surveillez votre boîte aux lettres.
      </p>
    </div>
  </div>
</div>

<rb-basket-content [basket]="basket" class="mt-5"></rb-basket-content>
