<div class="alert alert-info" role="alert">
  <div class="d-flex">
    <div class="mr-4">
      <fa-icon [icon]="confirmedIcon"></fa-icon>
    </div>
    <div class="flex-grow-1">
      Votre commande est confirmée.
    </div>
  </div>
</div>

<h2>Et maintenant?</h2>
<p>
  Votre commande a été distribuée aux divers responsables en charge des accessions commandées.
</p>
<p>
  Ils/Elles vous recontacteront par email, à l'adresse <code>{{ basket.customer.email }}</code
  >. Surveillez votre boîte aux lettres.
</p>
