<h1 translate="order.orders-container.title"></h1>

<div class="content mt-2">
  <ul class="nav-tabs mb-4" rbRouterNav #nav="rbRouterNav">
    @if (hasPermission('ORDER_MANAGEMENT') | async) {
      <li class="nav-item">
        <a routerLink="in-progress" routerLinkActive="active" rbRouterNavLink translate="order.orders-container.in-progress"></a>
      </li>

      <li class="nav-item">
        <a routerLink="done" routerLinkActive="active" rbRouterNavLink translate="order.orders-container.done"></a>
      </li>
    }
    @if (hasPermission('ORDER_VISUALIZATION') | async) {
      <li class="nav-item">
        <a routerLink="stats" routerLinkActive="active" rbRouterNavLink translate="order.orders-container.statistics"></a>
      </li>

      <li class="nav-item">
        <a routerLink="export" routerLinkActive="active" rbRouterNavLink translate="order.orders-container.export"></a>
      </li>
    }
  </ul>

  <div [rbRouterNavPanel]="nav">
    <router-outlet></router-outlet>
  </div>
</div>
