@if (vm(); as vm) {
  <h1 [translate]="'accession-holder.edit.title.' + vm.mode"></h1>
  <div class="content mt-2">
    <form [formRoot]="form">
      <div class="mb-3">
        <label class="form-label" for="name" translate="accession-holder.edit.name"></label>
        <input class="form-control" [formField]="form.name" id="name" />
        <small id="name-hint" class="form-text text-body-secondary" translate="accession-holder.edit.name-hint"></small>
        <val-signal-errors [formField]="form.name" [label]="'accession-holder.edit.name-error-label' | translate" />
      </div>

      <div class="mb-3">
        <label class="form-label" for="email" translate="accession-holder.edit.email"></label>
        <input class="form-control" [formField]="form.email" id="email" type="email" />
        <val-signal-errors [formField]="form.email" [label]="'accession-holder.edit.email-error-label' | translate" />
      </div>

      <div class="mb-3">
        <label class="form-label" for="phone" translate="accession-holder.edit.phone"></label>
        <input class="form-control" [formField]="form.phone" id="phone" type="tel" />
        <val-signal-errors [formField]="form.phone" [label]="'accession-holder.edit.phone-error-label' | translate" />
      </div>

      <div class="mb-3">
        <label class="form-label" for="grc" translate="accession-holder.edit.grc"></label>
        <select class="form-select" [formField]="form.grcId" id="grc">
          <option value=""></option>
          @for (grc of vm.grcs; track grc.id) {
            <option [value]="grc.id">{{ grc.name }}</option>
          }
        </select>
        <val-signal-errors [formField]="form.grcId" [label]="'accession-holder.edit.grc-error-label' | translate" />
      </div>

      <div>
        <button class="btn btn-primary me-2" translate="accession-holder.edit.save" id="save-button"></button>
        <a routerLink="/accession-holders" class="btn btn-danger" translate="accession-holder.edit.cancel"></a>
      </div>
    </form>
  </div>
}
