<val-default-errors>
  <ng-template valError="required" let-label>
    <span translate="common.errors.required" [translateParams]="{ label: label }"></span>
  </ng-template>
  <ng-template valError="minlength" let-error="error" let-label>
    <span translate="common.errors.minlength" [translateParams]="{ label: label, requiredLength: error.requiredLength | number }"></span>
  </ng-template>
  <ng-template valError="maxlength" let-error="error" let-label>
    <span translate="common.errors.maxlength" [translateParams]="{ label: label, requiredLength: error.requiredLength | number }"></span>
  </ng-template>
  <ng-template valError="pattern" let-label>
    <span translate="common.errors.pattern" [translateParams]="{ label: label }"></span>
  </ng-template>
  <ng-template valError="email" let-label>
    <span translate="common.errors.email" [translateParams]="{ label: label }"></span>
  </ng-template>
  <ng-template valError="min" let-error="error" let-label>
    <span translate="common.errors.min" [translateParams]="{ label: label, min: error.min | number }"></span>
  </ng-template>
  <ng-template valError="max" let-error="error" let-label>
    <span translate="common.errors.min" [translateParams]="{ label: label, max: error.max | number }"></span>
  </ng-template>
  <ng-template valError="dateRange" let-error="error" let-label>
    <span translate="common.errors.invalid-date-range" [translateParams]="{ label: label }"></span>
  </ng-template>
</val-default-errors>
