Bonjour {{ customerName }} !

Vous avez enregistré la commande d'accessions n° {{ basketReference }}.

Pour confirmer que vous êtes bien à l'origine de cette commande,
cliquez sur le lien suivant : {{ confirmationUrl }},
ou saisissez le code suivant dans la page de confirmation de commande: {{ confirmationCode }}.

Si vous n'êtes pas à l'origine de cette commande, vous pouvez effacer ce courriel.

--
L'équipe RARe
