// make the placeholders lighter
$input-placeholder-color: #dcdedf;

$link-decoration: none;
$form-label-margin-bottom: 0.25rem;

$custom-file-text: (
  en: 'Browse',
  fr: 'Parcourir'
);

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/utilities';
