@import 'custom-bootstrap';

.invalid-feedback {
  display: block;
}

body {
  background-color: $gray-100;
}

.content {
  @extend .border;
  @extend .rounded;
  @extend .bg-white;
  @extend .p-2;
  @extend .p-md-5;
}

@include media-breakpoint-up(sm) {
  .datepicker {
    max-width: 8rem;
  }
}

.custom-file-label {
  overflow: hidden;
  white-space: nowrap;
  padding-right: 6em;
  text-overflow: ellipsis;
}
