@import 'custom-bootstrap';

.invalid-feedback {
  display: block;
}

body {
  background-color: $gray-100;
}

.content {
  @extend .border;
  @extend .rounded;
  @extend .bg-white;
  @extend .p-2;
  @extend .p-lg-4;
}

@include media-breakpoint-up(sm) {
  .datepicker {
    max-width: 8rem;
  }
}

.custom-file-label {
  overflow: hidden;
  white-space: nowrap;
  padding-right: 6em;
  text-overflow: ellipsis;
}

.scrolling-accessions {
  max-height: 25rem;
  overflow-y: auto;
}

// hack used to make sure that the validation errors only appear after 10ms, rather than instantly.
// Indeed, since they appear when an invalid form control is blurred, and cause a small vertical layout shift
// when they appear, clicking a button below the form control sometimes fails because the click actually happens
// outside of the button.
// This is particularly useful in the edit order component (when clicking the CSV button for example)
// or even in the basket submission form (when submitting the form)
val-errors div {
  animation: delay 10ms none;
}

@keyframes delay {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}
