<div *ngIf="order">
  <h1 class="d-flex align-items-center">
    <div
      class="flex-grow-1"
      translate="order.order.title"
      [translateParams]="{ reference: order.basket.reference }"
      [class.cancelled]="order.status === 'CANCELLED'"
    ></div>
    <div>
      <span class="badge badge-secondary ml-2">{{ order.status | orderStatusEnum }}</span>
    </div>
  </h1>

  <div class="content mb-2">
    <p
      class="text-muted"
      translate="order.order.creation-date"
      [translateParams]="{ date: order.basket.confirmationInstant | date: 'longDate' }"
    ></p>
    <div class="row">
      <div class="col-md-5">
        <h2 translate="order.order.customer-information"></h2>
        <div class="d-flex">
          <div class="mr-2"><fa-icon [icon]="nameIcon" [fixedWidth]="true"></fa-icon></div>
          <div class="flex-grow-1">{{ order.basket.customer.name }}</div>
        </div>
        <div class="d-flex">
          <div class="mr-2"><fa-icon [icon]="emailIcon" [fixedWidth]="true"></fa-icon></div>
          <div class="flex-grow-1">{{ order.basket.customer.email }}</div>
        </div>
        <div class="d-flex">
          <div class="mr-2"><fa-icon [icon]="addressIcon" [fixedWidth]="true"></fa-icon></div>
          <div class="flex-grow-1" style="white-space: pre-wrap;">{{ order.basket.customer.address }}</div>
        </div>
        <div class="d-flex">
          <div class="mr-2"><fa-icon [icon]="customerTypeIcon" [fixedWidth]="true"></fa-icon></div>
          <div class="flex-grow-1">{{ order.basket.customer.type | customerTypeEnum }}</div>
        </div>
        <div class="d-flex">
          <div class="mr-2"><fa-icon [icon]="languageIcon" [fixedWidth]="true"></fa-icon></div>
          <div class="flex-grow-1">{{ order.basket.customer.language | languageEnum }}</div>
        </div>
        <div class="d-flex" *ngIf="order.basket.rationale">
          <div class="mr-2"><fa-icon [icon]="rationaleIcon" [fixedWidth]="true"></fa-icon></div>
          <div class="flex-grow-1" style="white-space: pre-wrap;">{{ order.basket.rationale }}</div>
        </div>
      </div>
      <div class="col-md-7">
        <h2 translate="order.order.ordered-accessions"></h2>
        <div *ngIf="!editing">
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th translate="order.order.accession-heading"></th>
                <th translate="order.order.quantity-heading"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of order.items" class="order-item">
                <td><rb-accession [accession]="item.accession"></rb-accession></td>
                <td>{{ item.quantity | number }} {{ item.unit }}</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="order.status === 'DRAFT'" class="text-right">
            <button
              type="button"
              class="btn btn-sm btn-outline-primary"
              id="edit-order-button"
              [disabled]="addingDocument"
              (click)="edit()"
            >
              <fa-icon [icon]="editIcon" class="mr-1"></fa-icon>
              <span translate="order.order.edit"></span>
            </button>
          </div>
        </div>
        <rb-edit-order *ngIf="editing" [order]="order" (saved)="saved($event)" (cancelled)="editing = false"></rb-edit-order>
      </div>
    </div>

    <hr />

    <h2 translate="order.order.documents"></h2>

    <div *ngIf="order.documents.length == 0" class="text-muted my-2" translate="order.order.no-document"></div>

    <div *ngFor="let document of order.documents" class="my-2 document">
      <div class="d-flex">
        <div><fa-icon [icon]="documentIcon" class="mr-2"></fa-icon></div>
        <div class="flex-grow-1 row">
          <div class="col-md-7 col-lg-8">
            <div class="file-name">
              <button class="btn btn-link p-0 download-button" (click)="download(document, $event)" [disabled]="isDownloading(document)">
                {{ document.originalFileName }}
                <fa-icon *ngIf="isDownloading(document)" [icon]="downloadingIcon" [spin]="true" class="ml-1 download-spinner"></fa-icon>
              </button>
            </div>
            <small class="text-muted">{{ document.creationInstant | date: 'medium' }}</small>
          </div>
          <div class="col-md-5 col-lg-4">
            <div>
              <span class="badge badge-secondary">{{ document.type | documentTypeEnum }}</span>
            </div>
            <small class="text-muted">{{ document.description }}</small>
          </div>
        </div>
        <div *ngIf="order.status === 'DRAFT'" class="ml-2">
          <button
            type="button"
            class="btn btn-sm btn-outline-danger delete-document-button"
            [disabled]="operationInProgress"
            (click)="deleteDocument(document)"
          >
            <fa-icon [icon]="deleteDocumentIcon"></fa-icon>
            <span class="sr-only" translate="order.order.delete-document"></span>
          </button>
        </div>
      </div>
    </div>

    <div>
      <button
        *ngIf="order.status === 'DRAFT' && !addingDocument"
        (click)="addingDocument = true"
        type="button"
        class="btn btn-sm btn-outline-primary"
        [disabled]="operationInProgress"
        id="add-document-button"
      >
        <fa-icon [icon]="addDocumentIcon" class="mr-1"></fa-icon>
        <span translate="order.order.add-document"></span>
      </button>
    </div>

    <div *ngIf="addingDocument" class="border rounded p-3">
      <h3 translate="order.order.add-document-title"></h3>
      <rb-edit-document
        (saved)="createDocument($event)"
        (cancelled)="addingDocument = false"
        [uploadProgress]="uploadProgress"
      ></rb-edit-document>
    </div>

    <div *ngIf="order.status !== 'CANCELLED'">
      <hr />

      <button
        *ngIf="order.status === 'DRAFT'"
        (click)="finalizeOrder()"
        [disabled]="operationInProgress"
        type="button"
        class="btn btn-primary mr-2"
        id="finalize-order-button"
      >
        <fa-icon [icon]="finalizeOrderIcon" class="mr-1"></fa-icon>
        <span translate="order.order.finalize"></span>
      </button>

      <button
        *ngIf="order.status === 'DRAFT'"
        (click)="cancelOrder()"
        [disabled]="operationInProgress"
        type="button"
        class="btn btn-danger"
        id="cancel-order-button"
      >
        <fa-icon [icon]="cancelOrderIcon" class="mr-1"></fa-icon>
        <span translate="order.order.cancel"></span>
      </button>

      <button *ngIf="order.status === 'FINALIZED'" class="btn btn-primary" (click)="downloadDeliveryForm()" id="delivery-form-button">
        <fa-icon [icon]="deliveryFormIcon" class="mr-1"></fa-icon>
        <span translate="order.order.delivery-form"></span>
      </button>

      <ul *ngIf="finalizationErrors.length > 0" class="mt-2 list-unstyled">
        <li *ngFor="let error of finalizationErrors" class="small text-danger finalization-error">
          <fa-icon [icon]="finalizationErrorIcon" class="mr-1"></fa-icon>
          <span [translate]="error"></span>
        </li>
      </ul>
    </div>
  </div>

  <a routerLink="/orders" class="btn btn-outline-secondary">
    <fa-icon [icon]="allOrdersIcon" class="mr-1"></fa-icon>
    <span translate="order.order.all-orders"></span>
  </a>
</div>
