<div *ngIf="order">
  <h1 class="d-flex align-items-center">
    <div
      class="flex-grow-1"
      translate="order.order.title"
      [translateParams]="{ reference: order.basket.reference }"
      [class.cancelled]="order.status === 'CANCELLED'"
    ></div>
    <div>
      <span class="badge badge-secondary ml-2">{{ order.status | orderStatusEnum }}</span>
    </div>
  </h1>

  <div class="border rounded bg-light p-5 mb-2">
    <p
      class="text-muted"
      translate="order.order.creation-date"
      [translateParams]="{ date: order.basket.confirmationInstant | date: 'longDate' }"
    ></p>
    <div class="row">
      <div class="col-md">
        <h2 translate="order.order.customer-information"></h2>
        <div class="d-flex">
          <div class="mr-2"><fa-icon [icon]="nameIcon" [fixedWidth]="true"></fa-icon></div>
          <div class="flex-grow-1">{{ order.basket.customer.name }}</div>
        </div>
        <div class="d-flex">
          <div class="mr-2"><fa-icon [icon]="emailIcon" [fixedWidth]="true"></fa-icon></div>
          <div class="flex-grow-1">{{ order.basket.customer.email }}</div>
        </div>
        <div class="d-flex">
          <div class="mr-2"><fa-icon [icon]="addressIcon" [fixedWidth]="true"></fa-icon></div>
          <div class="flex-grow-1" style="white-space: pre-wrap;">{{ order.basket.customer.address }}</div>
        </div>
        <div class="d-flex">
          <div class="mr-2"><fa-icon [icon]="customerTypeIcon" [fixedWidth]="true"></fa-icon></div>
          <div class="flex-grow-1">{{ order.basket.customer.type | customerTypeEnum }}</div>
        </div>
        <div class="d-flex">
          <div class="mr-2"><fa-icon [icon]="languageIcon" [fixedWidth]="true"></fa-icon></div>
          <div class="flex-grow-1">{{ order.basket.customer.language | languageEnum }}</div>
        </div>
        <div class="d-flex" *ngIf="order.basket.rationale">
          <div class="mr-2"><fa-icon [icon]="rationaleIcon" [fixedWidth]="true"></fa-icon></div>
          <div class="flex-grow-1" style="white-space: pre-wrap;">{{ order.basket.rationale }}</div>
        </div>
      </div>
      <div class="col-md">
        <h2 translate="order.order.ordered-accessions"></h2>
        <div *ngIf="!edited">
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th translate="order.order.accession-heading"></th>
                <th translate="order.order.quantity-heading"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of order.items" class="order-item">
                <td><rb-accession [accession]="item.accession"></rb-accession></td>
                <td>{{ item.quantity | number }}</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="order.status === 'DRAFT'" class="text-right">
            <button type="button" class="btn btn-sm btn-outline-primary" id="edit-order-button" (click)="edit()">
              <fa-icon [icon]="editIcon" class="mr-1"></fa-icon>
              <span translate="order.order.edit"></span>
            </button>
          </div>
        </div>
        <rb-edit-order *ngIf="edited" [order]="order" (saved)="saved($event)" (cancelled)="editCancelled()"></rb-edit-order>
      </div>
    </div>

    <div *ngIf="order.status === 'DRAFT'">
      <hr />

      <button (click)="cancelOrder()" [disabled]="edited" type="button" class="btn btn-danger" id="cancel-order-button">
        <fa-icon [icon]="cancelOrderIcon" class="mr-1"></fa-icon>
        <span translate="order.order.cancel"></span>
      </button>
    </div>
  </div>

  <a routerLink="/orders" class="btn btn-outline-secondary">
    <fa-icon [icon]="allOrdersIcon" class="mr-1"></fa-icon>
    <span translate="order.order.all-orders"></span>
  </a>
</div>
