@import '../../../common';

.cancelled {
  text-decoration: line-through;
}

h1 .badge {
  font-size: 1.2rem;
}

.file-name {
  word-break: break-word;
}

.document-type {
  white-space: normal;
}

fa-stack {
  width: 1em;
}

.status-changed {
  animation: shake 300ms ease;
}

@keyframes shake {
  0%,
  100% {
    transform: rotateZ(0);
  }
  10%,
  50%,
  90% {
    transform: rotateZ(10deg);
  }
  30%,
  70% {
    transform: rotateZ(-10deg);
  }
}

@media (max-width: breakpoint-min(md)) {
  .btn-sm-block {
    display: block;
    width: 100%;
  }
}
