<div class="mb-2" translate="order.export-orders.message"></div>
<form [formGroup]="form" (ngSubmit)="export()">
  <div class="row row-cols-sm-auto gy-0 gx-2 align-items-center">
    <label class="col-12 col-form-label" for="from" translate="order.export-orders.from"></label>
    <rb-datepicker-container class="col-12 me-sm-2 w-auto">
      <input id="from" class="form-control datepicker" formControlName="from" ngbDatepicker />
    </rb-datepicker-container>

    <label class="col-12 col-form-label" for="to" translate="order.export-orders.to"></label>
    <rb-datepicker-container class="col-12 me-sm-2 w-auto">
      <input id="to" class="form-control datepicker" formControlName="to" ngbDatepicker />
    </rb-datepicker-container>

    <div class="col-12 mt-2 mt-sm-0">
      <button type="submit" [disabled]="exporting" class="btn btn-primary" id="export-button">
        @if (exporting) {
          <fa-icon [icon]="exportingIcon" [animation]="'spin'" class="me-1" id="export-spinner" />
        }
        <span translate="order.export-orders.export"></span>
      </button>
    </div>
  </div>
  <val-errors [control]="form" [label]="'order.export-orders.date-range-error-label' | translate" />
</form>
